@model List<vodpoints.edmx.manager>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <!--標題-->
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">
                            管理員清單
                        </span>
                    </div>

                    <div class="actions">
                        <div class="btn-group">
                            <a class="btn btn-primary" href='@Url.Action("Create", "Manager")'>
                                <i class="fa fa-plus-square"></i>&nbsp;新增管理員
                            </a>
                        </div>
                    </div>
                </div>
                <!--END 標題-->
                <!--內容-->
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-advance table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-user"></i> 管理員
                                    </th>
                                    <th>
                                        <i class="fa fa-key"></i> 登入帳號
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-envelope-o"></i> Email
                                    </th>
                                    <th class="hidden-xs">
                                        <i class="fa fa-phone"></i> 電話
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var manager in Model)
                            {
                                <tr>
                                    <td class="highlight">
                                        <div class="success">
                                        </div>
                                        <a href='@Url.Action("Edit", "Manager", new { id = manager.Id })'>
                                            @Html.DisplayFor(a => manager.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(a => manager.Account)
                                    </td>
                                    <td class="hidden-xs">
                                        @Html.DisplayFor(a => manager.Email)
                                    </td>
                                    <td class="hidden-xs">
                                        @Html.DisplayFor(a => manager.Telephone)
                                    </td>
                                    <td>
                                        <a href='@Url.Action("Edit", "Manager", new { id = manager.Id })' class="btn default btn-xs green">
                                            <i class="fa fa-pencil"></i> 編輯
                                        </a>
                                        <a href='@Url.Action("Delete", "Manager", new { id = manager.Id })' class="btn default btn-xs purple">
                                            <i class="fa fa-trash-o"></i> 刪除
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                            
                <!--END內容-->
            </div>
        </div>
    </div>
</div>